*/\.htaccess

wp-config.php
#staging/wp-config.php
#l/wp-config.php
#blog/wp-config.php
#case-studies/wp-config.php

data/*
uploads/*
wp-content/*
wp-admin/*
wp-includes/*
!wp-content/themes/

blog/wp-content/*
blog/wp-admin/*
blog/wp-includes/*
!blog/wp-content/themes/

case-studies/wp-content/*
case-studies/wp-admin/*
case-studies/wp-includes/*
!case-studies/wp-content/themes/

l/wp-content/*
l/wp-admin/*
l/wp-includes/*
!l/wp-content/themes/


staging/uploads/*
staging/wp-content/*
staging/wp-admin/*
staging/wp-includes/*
!staging/wp-content/themes/

robots.txt
.DS_Store