*/\.htaccess

#blog/
#wp-content/
#wp-content/uploads/
#staging/
#staging/wp-content/uploads/
#blog/wp-content/uploads/
#!blog/wp-content/uploads/2023
blog/wp-content/_temp
l/
case-studies/
robots.txt
.DS_Store
