.why-hire {
  .col-box-outer {
    .left-box {
      .why-sec {
        margin: 0 0 20px;
        padding-left: 28px;
        position: relative;
        &:before {
          content: "";
          display: block;
          background: url(../images/list-head.svg) top center no-repeat;
          background-size: 100%;
          width: 18px;
          height: 18px;
          position: absolute;
          top: 8px;
          left: 0;
        }
        h3 {
          color: #3f3f3f;
          position: relative;
          margin: 0 0 10px;
          font-weight: 600;
          
        }
        p {
          font-size: 18px;
          color: #666;
          margin: 0 0 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {

  .why-hire {
    .col-box-outer {
      .left-box {
        .why-sec {
          h3 {
            margin: 0 0 10px;
          }
          p {
            font-size: 16px;
            line-height: 26px;
          }
          &:before {
            top: 5px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1320px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 991px) {
  .why-hire {
    .col-box-outer {
      .left-box {
        .why-sec {
          margin: 0 0 15px;
          padding-left: 25px;
          h3 {
            margin: 0 0 5px;
          }
          p {
            font-size: 14px;
            line-height: 22px;
          }
          &:before {
            top: 5px;
          }
        }
      }
      .right-box{margin:30px 0 0;}
    }
  }
}
@media only screen and (max-width: 767px) {
}
