.process-work {
  background: linear-gradient(to left, rgba(253, 250, 242, 1) 50%, #211f47 50%);
  position: relative;
  .head-txt {
    text-align: left;
    margin: 0 0 50px;
  }

  .col-left {
    .head-txt {margin: 0 0 100px;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }

  .col-right {
    padding-left: 50px;
    .head-txt {
      h2 {
        color: rgba(5, 22, 77, 1);
      }
      p {
        color: #3f3f3f;
      }
    }
  }
  .process-step {
    position: relative;

    .step-sec {
      margin: 0 0 20px;
      position: relative;
      .step-icon {
        flex-basis: 115px;
        img {
          margin: 0;
          z-index: 9;
          background: #fdfaf2;
        }
      }
      .step-desc {
        flex-basis: calc(100% - 115px);
        .step-no {
          font-size: 11px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600;
          color: #ffad00;
          margin: 0 0 8px;
          line-height: initial;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.04);
          padding: 4px 8px 2px;
          background: #fff;
        }
        h4 {
          margin: 10px 0 10px;
          color: #3f3f3f;
          font-size: 20px;
        }
        ul {
          li {
            position: relative;
            padding-left: 15px;
            color: #666;
            margin: 0 0 5px;
            line-height: 180%;
            list-style: none;
            &:before {
              content: "";
              width: 5px;
              height: 5px;
              background-color: #656565;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 9px;
            }
          }
        }
      }

      &:last-child {
        margin: 0;
      }
    }
    &:before {
      content: "";
      position: absolute;
      left: 44px;
      top: 40px;
      border-left: 1px dashed #191c49;
      width: 1px;
      height: 83%;
    }
  }

  &:after{content:"";
    background: url(../images/point-icon.png) 0 0 no-repeat;
    background-size: 100%;
    width: 112px;
    height: 112px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    }
}

@media only screen and (max-width: 1760px) {
  .process-work {
    .process-step {
      .step-sec {
        .step-desc {
          ul {
            li {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .process-work {
    .head-txt {
      margin: 0 0 40px;
    }
    .col-left{
      .head-txt {
        margin: 0 0 80px;
      }
    }
    .col-right {
      padding-left: 40px;
    }
    .process-step {
      .step-sec {
        .step-icon {
          flex-basis: 80px;
          img {
            margin: 0;
            width: 60px;
          }
        }
        .step-desc {
          flex-basis: calc(100% - 80px);
          h4 {
            font-size: 18px;
          }
          ul {
            li {
              font-size: 13px;
            }
          }
        }
      }
      &:before {
        left: 30px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .process-work {
    background: $white;
    .head-txt {
      text-align: left;
      margin: 0 0 30px;
    }

    .col-left {
      background: #211f47;
      padding: 40px 20px;
      text-align: center;
      .head-txt {
        text-align: center;
        margin: 0 0 30px;
        h2{
          br{display:none;}
        }
      }
      .image-wrap {
        text-align: center;
      }
    }

    .col-right {
      padding: 40px 20px;
      margin: 30px 0 0;
      background: rgba(253, 250, 242, 1);
    }
    .process-step {
      position: relative;

      .step-sec {
        margin: 0 0 30px;
        position: relative;
        .step-icon {
          flex-basis: 80px;
          
          img {
            width: 55px;
          }
        }
        .step-desc {
          flex-basis: calc(100% - 80px);

          h4 {
            font-size: 18px;
          }
          ul {
            li {
              line-height: 22px;
            }
          }
        }
      }
      &:before {
        left: 27px;
      }
    }
    &:after{display: none;}
  }
}
