.why-hire {
  .trial-faq-section {
    .trial-faq-outer {
      .trial-faq-outer {
        margin-top: 60px;
      }

      .trial-accordion-item-outer {
        position: relative;
        margin-top: 30px;

        &.active {
          .trial-accordion-content {
            display: block;
          }
          .trial-accordion-toggle {
            border-bottom: 0;
            &:before {
              display: none;
            }
          }

          .open-icon {
            display: none;
          }

          .trial-accordion-toggle::after {
            display: none;
          }
        }
      }

      .trial-accordion-toggle {
        display: block;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: 0.3s;
        padding: 0 60px 10px 0;
        position: relative;
        font-weight: 600;
        color: #3f3f3f;
        border-bottom: 1px solid #d1d1e1;
        a {
          display: contents;
        }
        &::before {
          content: "";
          width: 48px;
          height: 48px;
          border: 1px solid #d1d1e1;
          background: url(../images/arrow-up.png) center no-repeat;
          border-bottom: 0;
          position: absolute;
          right: 0;
          bottom: 0;
          cursor: pointer;
          transition: 0.3s;
        }

        &:hover:before {
          background-color: rgba(255, 173, 0, 0.15);
          background-position: center 25px;
          transition: 0.3s;
        }
      }

      .trial-accordion-content {
        display: none;
        padding-top: 5px;
        padding-right: 50px;
        border-bottom: 1px solid #d1d1e1;
        padding-bottom: 20px;
        text-align: left;
        p {
          margin: 0 0 10px;
          font-size: 18px;
          line-height: 28px;
          color: #666;
        }

        ul,
        ol {
          margin: 20px 0 0;
          padding-left: 0;
          li {
            margin: 10px 0 0;
            position: relative;
            padding-left: 18px;

            &:before {
              content: "";
              width: 8px;
              height: 8px;
              background-color: #ffb81d;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 7px;
            }
          }
        }
      }

      .no-list-type {
        ul {
          list-style-type: none;
          padding-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .why-hire {
    .trial-faq-section {
      .trial-faq-outer {
        .trial-accordion-content {
          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1320px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 991px) {
  .why-hire {
    .trial-faq-section {
      .trial-faq-outer {
        .trial-accordion-content {
          padding-top: 0px;
        }
      }
    }
    .right-box {
      margin: 40px 0 0;
      text-align: left;
    }
  }
}
@media only screen and (max-width: 767px) {
  .why-hire {
    .trial-faq-section {
      .trial-faq-outer {
        .trial-faq-outer {
          margin-top: 30px;
        }

        .trial-accordion-item-outer {
          margin-top: 20px;
        }

        .trial-accordion-toggle {
          padding: 0 50px 10px 0;

          &::before {
            width: 40px;
            height: 40px;
          }
        }

        .trial-accordion-content {
          padding-right: 40px;
          padding-bottom: 10px;
          p {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
